.container {
  padding: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.icon {
  padding: 6px;
  font-size: 36px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
