<mat-sidenav-container class="page-container">
  <mat-sidenav #sidenav mode="over">
    <mat-toolbar color="primary">
      <button class="back-button" mat-icon-button color="primary" (click)="sidenav.toggle()">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </mat-toolbar>

    <div class="info">
      <h2>Your Information</h2>

      <p>Your Phone Number: <b>{{phoneNumber}}</b></p>
      <p>Your Code: <b>{{code}}</b></p>
      <p>Expiring in {{expiryTimeString | async}}</p>
    </div>

    <div class="info">
      <h2>Your Messages</h2>
    </div>

    <ng-container *ngFor="let contact of contacts">
      <mat-divider></mat-divider>
      <app-contact [phoneNumber]="contact" (click)="setActiveRecipient(contact)"></app-contact>
    </ng-container>
    <div class="info" *ngIf="contacts.length == 0">Add a new contact or recieve a text to get started!</div>
  
    <div class="info">
      <div class="wide centered">
        <button mat-flat-button color="primary" (click)="newConvDialog()">
          <mat-icon>add</mat-icon> Add Conversation
        </button>
        <span style="height: 10px"></span>
        <button mat-flat-button color="warn" (click)="closeBurnerDialog()">
          <mat-icon>close</mat-icon> Close Burner
        </button>
      </div>
    </div>

  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button color="primary" class="hamburger" (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <ng-content select="[header]"></ng-content>
    </mat-toolbar>
    <ng-content select="[body]"></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
