<mat-sidenav-container class="page-container">
  <mat-sidenav #sidenav mode="over">
    <mat-toolbar color="primary">
      <button class="back-button" mat-icon-button color="primary" (click)="sidenav.toggle()">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </mat-toolbar>

    <div class="info">
      <h2>Your Information</h2>

      <p>Your Phone Number: <b>(555) 555-5555</b></p>
      <p>Your Code: <b>C34ADdJ</b></p>
      <p>Expiring in <b>13</b> min</p>
    </div>

    <div class="info">
      <h2>Your Messages</h2>
    </div>

    <mat-divider></mat-divider>
    <app-contact></app-contact>
    <mat-divider></mat-divider>
    <app-contact></app-contact>
    <mat-divider></mat-divider>
    <app-contact></app-contact>
    <mat-divider></mat-divider>
    <div class="info">
      <div class="wide centered">
        <button mat-flat-button color="primary" (click)="newConvDialog()">
          <mat-icon>add</mat-icon> Add Conversation
        </button>
        <span style="height: 10px"></span>
        <button mat-flat-button color="warn" (click)="closeBurnerDialog()">
          <mat-icon>close</mat-icon> Close Burner
        </button>
      </div>
    </div>

  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button color="primary" class="hamburger" (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <ng-content select="[header]"></ng-content>
    </mat-toolbar>
    <ng-content select="[body]"></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
