.page-container {
  width: 100%;
  height: 100%;

  .back-button {
    margin-left: auto;
  }
}

.wide {
  width: 100%;
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info {
  padding: 12px;
}

.hamburger {
  z-index: 10;
}
