<div class="container">
  <div class="centered-container">
    <h1 class="title">BURNOUT</h1>

    <div class="code-enter-container">
      <mat-form-field appearance="outline">
        <mat-label>Code</mat-label>
        <input #codeInput matInput>
      </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        (click)="enterCode(codeInput.value)">
        Enter Code
      </button>
    </div>
    <span>OR</span>
    <br/>
    <button
      mat-raised-button
      color="primary"
      (click)="createNewSession()">
      Create a New Session
    </button>
  </div>
</div>
